html {
    max-width: 2000px;
    scroll-behavior: smooth
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;                        
}
a, a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
h1 {
    font-family: 'Shrikhand',sans-serif;
    color: black;
    margin: auto;
    font-weight: normal;
    padding: 0.6rem;
}
.fa-arrow-left {
    color: #353535;
}
header {
    display: flex;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
}
header a {
    position: relative;
    left: 2rem;
    top: 1.5rem;
    font-size: 1.25rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 30rem;
}
h2 {
    font-family: 'Shrikhand',sans-serif;
    font-weight: 500;
    margin-top: 0.7rem;
    font-size: 1.75rem;
    width: 85%;
}
.grid {
    display: grid;
    background-color: #F6F6F6;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    position: relative;
    top: -3rem;
}
/* annimation coeur */
.grid__heart {
    position: relative;
}
.fa-heart {
    font-size: 1.75rem;
    color: black;
    position: absolute;
    right: 0.85rem;
    bottom: 1.8rem;
    cursor: pointer;
}
.fa-heart:hover {
    font-weight: bold;
    font-size: 1.75rem;
    background: -webkit-linear-gradient(#9356DC 0%, #FF79DA 100%); 
    -webkit-background-clip: text;   /* permet de mettre un dégradé sur du texte plutot qu'un background */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fondu 0.8s Linear both;
    transition-duration: 800ms;
    transform: scale(1.15);
}
@keyframes fondu{
    0% {
        opacity: 0;
        }
    25% {
        opacity: 0.25;
        }    
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
.grid p,  .grid h4 {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 87%;
}
.grid p, .grid h3 {
    font-weight: 300;
}
span {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
h4 {
    font-size: larger;
    font-weight: 600;
}
.grid__main {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
h3 {
    margin-bottom: 1.5rem;
}
h3::before {
    content: "";
    background-color: #99E2D0;
    width: 2.25rem;
    height: 0.2rem;
    position: absolute;
    top: 2.75rem;

}
.grid__block {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
    padding: 0.75rem;
    margin-bottom: 1rem;
    height: 2.5rem; 
    animation: fadeInUp 1.5s both;
    -webkit-animation: fadeInUp 1.5s both;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
/* annimation menu */
.grid__delay1{
    -webkit-animation-delay: 0.12s;
    animation-delay: 0.12s;
}
.grid__delay2 {
    -webkit-animation-delay: 0.27s;
    animation-delay: 0.27s;
}
.grid__delay3 {
    -webkit-animation-delay: 0.42s;
    animation-delay: 0.42s;
}
.grid__delay4 {
    -webkit-animation-delay: 0.57s;
    animation-delay: 0.57s;
}
@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 100%);
    transform: translate3d(0, 100%, 100%);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 100%);
    transform: translate3d(0, 100%, 100%);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
section {
    background-color: #F6F6F6;
}
/* bouton commander */
.btn {
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    padding: 0.85rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 1px 3px 7px 0px rgb(0 0 0 / 35%);
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 25%;
    opacity: 100%;
}
.btn:hover {
    background: linear-gradient(to top,rgba(147,86,220,1) 0%,rgba(255,121,218,1) 100%);
    filter: contrast(250%);
    opacity: 80%;
    transform: scale(1.05);
    box-shadow: 0px 4px 2px 0px rgb(0 0 0 / 75%), inset 1px 0.5px 0px 2px rgb(147 86 220 / 50%);
    opacity: 100%;
}
/* Coche */
.button {
    width: 4rem;
    height: 6rem;
	background: #99e2d0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -4rem;
	transition-duration: 0.5s;
	transition-timing-function: ease;
    position: absolute;
    right: 0;
    top: -1rem;
}
.button i {
    color: #99e2d0;
    padding: 0.5rem;
    border-radius: 50%;
    background: white;
    transition-duration: 0.5s;
}
.grid__block:hover .button {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.grid__block:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
.grid__block:hover span {
    margin-right: 4rem;
    transition-duration: 0.5s;
}
.grid__block:hover p {
    width: 68%;
    transition-duration: 0.25s;
}
.grid__block:hover h4 {
    width: 68%;
    transition-duration: 0.25s;
}
footer {
    background-color: #2e2e2e;
    color: white;
    padding: 0.25rem 1rem 2rem;
}
.footer__list {
    display: flex;
    flex-direction: column;
    line-height: 1.75rem;
}
footer p {
    font-family: 'Shrikhand', sans-serif;
    font-size: 1.15rem;
}
.fa-hands-helping {
    font-size: 75%;
    padding-right: 0.2rem;
}
.fa-utensils {
    padding-right: 0.25rem;
}

/* Media Query */
@media screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.1fr;
        grid-column-gap: 1.5rem;
    }
    .grid__main {
        grid-row-start: 2
    }
    .grid__heart {
        grid-column-start: 3
    }
    .btn {
        grid-row-start: 3;
        grid-column-start: 2;
        position: relative;
        top: 2.5rem;
        margin-top: 0;
        width: 30%;
    }
}
@media screen and (min-width: 900px) {
    section {
        margin: 0 5rem;
    }
    .grid {
        padding: 2rem;
    }
    footer p {
        display: flex;
        justify-content: center;
    }
    .footer__list {
        align-items: center;
    }
}